@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  gutters: 1/2,
);

.input,
.result,
.surfboard-suggestions {
  @include container();

  .input__icon,
  .result__icon {
    @include span(3 no-gutters);
  }

  .input__container,
  .result__container {
    @include span(9 no-gutters);
  }

  .surfboard-suggestion {
    @include span(4 no-gutters);
  }
}
