@import "normalize";
@import "variables/variables";
@import "mixins/mixins";
@import "grid";
@import "typography/copy";
@import "elements/elements";
@import "site/site";

@import "forms/slider/bootstrap-slider";

.app {
  padding-left: 16px;
  padding-right: 16px;
}

.input,
.result {
  padding-top: 8px;
  height: 72px;
}

.input__icon,
.input__container,
.result__icon,
.result__container {
  @include vertical-align;
}

.input-fields {
  padding-bottom: 24px;
}

.input__slider {
  padding-top: 8px;
}

.surfboard-suggestions-wrapper {
  padding-top: 14px;

}

.slider.slider-horizontal {
  width: 85%;
}

.surfboard-suggestions {
  padding-top: 8px;
}

.surfboard-suggestion__image {
  margin-top: 22px;
}
