.input__icon,
.result__icon,
.surfboard-suggestion__image {
  background-repeat: no-repeat;
  display: block;
}

.level__icon {
  background-image: url('../img/level-icon.png');
  background-size: 27px 17px;
  width: 27px;
  height: 17px;

  @include responsive-image('../img/level-icon-x2.png');
}

.fitness__icon {
  background-image: url('../img/fitness-icon.png');
  background-size: 24px 24px;
  width: 24px;
  height: 24px;

  @include responsive-image('../img/fitness-icon-x2.png');
}

.weight__icon {
  background-image: url('../img/weight-icon.png');
  background-size: 23px 24px;
  width: 23px;
  height: 24px;

  @include responsive-image('../img/weight-icon-x2.png');
}

.result__icon {
  background-image: url('../img/result-icon.png');
  background-size: 24px 24px;
  width: 24px;
  height: 24px;

  @include responsive-image('../img/result-icon-x2.png');
}

.spitfire__image {
  background-image: url('../img/boards/spitfire.jpg');
  background-size: auto 150px;
  max-width: 100px;
  height: 150px;

  @include responsive-image('../img/boards/spitfire.jpg');
}

.dominator__image {
  background-image: url('../img/boards/dominator.jpg');
  background-size: auto 150px;
  max-width: 100px;
  height: 150px;

  @include responsive-image('../img/boards/dominator.jpg');
}

.potatonator__image {
  background-image: url('../img/boards/potatonator.jpg');
  background-size: auto 150px;
  max-width: 100px;
  height: 150px;

  @include responsive-image('../img/boards/potatonator.jpg');
}
