input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background-color: $gray;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: $green;
  border: 0px;
}

input[type=range]::-webkit-slider-thumb {
  border: 0px;
  height: 12px;
  width: 12px;
  background: $purple;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $green;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: $green;
  border: 0px;
}

input[type=range]::-moz-range-thumb {
  border: 0px;
  height: 12px;
  width: 12px;
  background: $purple;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $green;
  border: 0px;
}

input[type=range]::-ms-fill-upper {
  background: $green;
  border: 0px;
}

input[type=range]::-ms-thumb {
  border: 0px;
  height: 12px;
  width: 12px;
  background: $purple;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: $green;
}

input[type=range]:focus::-ms-fill-upper {
  background: $green;
}

// Text underneath
.input--slider_description_text[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  animate: 0.2s;
  background: $gray;
  border: 0px;
}

.input--slider_description_text[type=range]::-webkit-slider-thumb {
  border: 0px;
  height: 24px;
  width: 32px;
  background: $gray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
